
.custom-heading {
    color: #343a40; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  }
  
  .search-form-container {
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
  }
  
  .pet-list-container {
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  